body
{
  width:90%;
  margin:auto;
}

header /* Logo Reservia et menu */
{
  display:flex;
  justify-content: space-between;

}

header ul {
  display:flex;
  justify-content: space-between;
  list-style:none;
  width: 300px;
 
  
}
header ul a {
  color: black;
  text-decoration: none;
}

header .active a, header .inscrire a
{
  color:#0065FC; 
}

header .inscrire a
{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

section h1
{
  font-size: medium;
  margin-bottom: 5px;
}

section p
{
  font-size: small;
  margin-top: 5px;
}





.search-box {
  display: flex;
  justify-content: flex-start;
   /* horizontal */
}

#logo_recherche {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-color:#edf2f4;
  width: 35px;
  height: 30px;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-color:blueviolet;
  

}

#logo_recherche #logo_img {
  width: 50%;
  height:50%;
  
  
}
::placeholder
{
color:black;
font-weight: bold;
}

.button_rechercher
{
  background-color:#0065FC;
  color: white;
  border:none;
  border-top-right-radius: 13%;
  border-bottom-right-radius: 13%;
  font-family: 'Raleway';
  font-size: x-small;
  font-weight: bold;
  
}

body
{

font-family: 'Raleway';
}

.prix {
  font-weight: bold;
}

h3
{
  font-size: small;
}
/*Filtres redirection sur un element de la page*/

.filteredList
{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

#filtre
{
  display:flex;
  margin-right: 10px;
  font-weight: bold;
  font-size: small;
  
}

  button[data-filter="economique"]:focus ~ div:not([class*="Economique"]) {
    display:none;
  }
  
  button[data-filter="familial"]:focus ~ div:not([class*="Familial"]) {
    display:none;
  }

  button[data-filter="romantique"]:focus ~ div:not([class*="Romantique"]) {
    display:none;
  }
  button[data-filter="animaux"]:focus ~ div:not([class*="Animaux autorisés"]) {
    display:none;
  }

  .button {
    background: #fff;
    border-radius: 100px;
    padding: 20px 60px;
    color: black;
    text-decoration: none;
    font-size: 1.45em;
    margin: 0 15px;
  }

  /*Balise info + 500 logements dispo*/

  
  .infobulle
  {
    font-size: smaller;
    
  }

  /*Partie section hebergements Marseille*/

  .fond_section
  {
    background-color:#edf2f4;
    border-radius: 3%; 
    margin-top: 20px;
    /*display:flex;
    flex-grow: 5;
    align-items:center;*/
  }

  #marseille
  {
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 20px;
  }



  /*Partie les plus populaire*/

  .fond_aside
  {
    background-color:#edf2f4;
    border-radius: 3%;
    
    
    
  }

  /*partie footer*/

  footer ul {
    
    list-style:none;
  }
  footer ul a {
    color: black;
    text-decoration: none;
  }
  .info
  { 
  font-weight: bold;  
  }

  
  

  #pied_de_page
  {
    display:flex;
    justify-content:space-between;
    flex-direction: row;
  }




 