@media screen and (max-width: 576px) {
    #bloc_page {
      
        padding-left: 20px;
        padding-right: 20px;
    }
    /*Partie Header*/
    /*Menu Navigation*/
    nav ul {
        border-bottom: 2px solid #F2F2F2;
       
        max-width: 100%;
        padding-left: 0px;
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        position: relative;
        right: 122px;
    }
    
    nav a:hover {
        border-top: none;
    }
    nav {
        width: 100%;
        max-width: 100%;
    }
    nav li {
        width: 100%;
    }
    
    
    .surlignage:hover{
        
            border-bottom: 2px solid #0065fc;
            border-top: none;
        }
    
  
    nav a {
        width: 100%;
    }
    
    #menu2{
        position: relative;
        left:75px;
    }
    
    #menu3{
        position: relative;
        bottom: 50px;
        border-bottom: none;
        font-weight: bold;
        color: #0065fc;  
    }
    .infobulle, .info{
        margin-top: 20px;
    }
    /*Titre trouvez hebergement pour vacances de rêve*/
    
    
    #bloc-recherche,
    #bloc-filtre {
        display: none;
    }
    
    /*section p*/
    #bloc-recherche{
        display:block;
        margin-top: 70px;
    }

    /*Filtre*/
    .filter {
        display: inline-block;
        justify-items: baseline;
        margin-top: 8px;
    }
    #bloc-filtre{
        display:flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    #filtre-responsive{
        display:flex;
        flex-wrap: wrap;
        align-items: baseline;     
    }
    #textfiltre {
      
        float:none;
        margin-top: 0px;
    }
    /*Partie Hebergement à Marseille*/
   
    #wrapper-area{
        display: flex;
        flex-wrap: wrap;
        order:2;
        width: 100%;
        height: auto;
        padding: 10px 0px;
        background-color: white;
        
   }


    #wrapper-all-lodgings{
        display:block;
    }
   
    #flex-area{
        
        display: flex;
        flex-direction: column;  
    }
 #flex-area a{
 width: 100%;
 }
   
    #wrapper-most-popular {
        width: 100%;
        border-radius: none!important;
   
    }
    #bloc_page #wrapper-most-popular #wrapper-area {
        display: none;
    }
    /* Partie Activités à Marseille*/
    #marseille-activities-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /*CARTE 1*/
    .marseille-activities-flex-child img {
        height: 75%;
    }
    #marseille-activities-flex .marseille-activities-flex-child {
        width: 100%;
        height: 150px
    }
    /*CARTE 2*/
    .marseille-activities-flex-child #pomegues {
        width: 100%;
        height: 150px
    }
    /*CARTE 3*/
    .marseille-activities-flex-child #frioul {
        width: 100%;
        height: 150px;
    }
    /*CARTE 4*/
    .marseille-activities-flex .marseille-activities-flex-child #calanques {
        width: 100%;
        height: 150px;
    }
    /*CARTE 5*/
    .marseille-activities-flex-child #notre-dame {
        width: 100%;
        height: 150px;
    }
    /*CARTE 6*/
    .marseille-activities-flex .marseille-activities-flex-child #longchamp {
        width: 100%;
        height: 150px;
    }
    /* Partie Footer mobile*/
    footer {
        display: block;
        flex-direction: column;
        align-self: center;
        height: 377px;
    }
    footer #bloc_a_propos,
    #bloc_nos_hebergement {
        height: 115px;
    }
    footer #bloc_assistance {
        height: 70px;
    }
    footer #bloc_nos_hebergement {
        margin-top: 15px;
    }
    footer ul li a {
        font-size: 0.8em;
        margin-top: 6px;
    }
    footer h5 {
        margin-bottom: 9px;
    }
}


@media (width: 768px) {
   
    #flex-area{
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        order:2;
    }
    #most-populars-flex{
        display: flex;
        flex-direction: row;
    }
   
    #wrapper-most-popular {
        width: 100%;
        border-radius: none!important;
        height:5%
        
    }
    #bloc_page #wrapper-most-popular #wrapper-area {
        display: none;
    }
    
}