@media screen and (max-width: 576px) {

    /*Partie Header*/

    /*Menu Navigation*/
    nav ul {
        border-bottom: 2px solid #F2F2F2;
        display: flex;
        position: relative;
        top:50px;
        
    }
    header ul{
        height:30%;
        right:21%;
    }
    header ul li{
        padding-left: 37px;
        margin-left: 0;
        display: block;
  
    }
  /*Hebergement + Activites hover surlignage*/
    a#menu1.surlignage:hover, a#menu2.surlignage:hover{
        border-bottom: 2px solid #0065fc;
        border-top: none;
        padding-bottom: 6px;
    }
  

   /*Texte s'inscrire*/ 
    a#menu3.surlignage{
        border:none;
    }

    /*Emplacement texte s'inscrire*/  
           
    #menu3{
        position: relative;
        right: 20%;
        bottom: 50px;
        border-bottom: none;
        font-weight: bold;
        color: #0065fc;
    }
   
/*Emplacement infobulle*/ 
    .infobulle, .info{
        margin-top: 20px;
    }
/****************Titre trouvez hebergement pour vacances de rêve************/

.title1{
    font-size: x-large;
}


/*******************section p**********************/
    #bloc-recherche{
        display:block;
        margin-top: 70px;
    }
    section p{
        margin-bottom: 25px;
    }
/**********************Bouton Rechercher*********************/

.button_rechercher{
display: none;
}

/**************Icone recherche mobile**************/
button.fas.fa-search{
    display: block;
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 30%;
    position: relative;
    right:4%;
    cursor: pointer;
    width: 15%;
}

/**************dismensions icone**************/
.fa-search:before{
font-size: smaller;
}
#logo_recherche{
    width: 15%;
    height: 40px;
}

/**************champ recherche**************/
#marecherche.ville{
    padding-right:23%;
    padding-left: 5%;
}
section p{
    font-size: 1em;
}

.infobulle, .info{
    font-size: 14px;
}



/***********************Filtre*****************************/
    .filter {
        display: inline-block;
        justify-items: baseline;
        margin-top: 8px;
    }
    #bloc-filtre{
        display:flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    #filtre-responsive{
        display:flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    #textfiltre {

        float:none;
        margin-top: 0px;
    }


    /*Les plus populaires + Hebergement Marseille*/
    #wrapper-all-lodgings{
        gap: 0;
    }
    /*Les plus populaires*/

    #wrapper-most-popular {

        border-radius: 0px;
        height:5%;
        width: 121%;
        right: 10%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 35px;

    }
    /*Partie Hebergement à Marseille*/

    #wrapper-area{
        display: flex;
        flex-wrap: wrap;
        order:2;
        width: 100%;
        height: auto;
        padding: 10px 0px;
        background-color: white;

   }


    #wrapper-all-lodgings{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #flex-area{

        display: flex;
        flex-direction: column;
    }
    #flex-area a{
    width: 100%;
    }

    #bloc_page #wrapper-most-popular #wrapper-area {
        display: none;
    }
    /* Partie Activités à Marseille*/
    #marseille-activities-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /*CARTE 1*/
    .marseille-activities-flex-child img {
        height: 75%;
    }
    #marseille-activities-flex .marseille-activities-flex-child {
        width: 100%;
        height: 0%;

    }

     /*CARTE 1*/
    #marseille-activities-flex #vieux-port{
    width: 100%;
    height: 150px;
    }

       /*CARTE 2*/
    .marseille-activities-flex-child #pomegues {
    width: 100%;
    height: 150px;
    }
    /*CARTE 3 et 4*/
 
    #marseille-activities-flex #calanques,
    #marseille-activities-flex #frioul
    {
        width: 100%;
        height: 150px;
    }
   
    /*CARTE 5 Notre Dame*/
    .marseille-activities-flex-child:last-child a:first-child{
        width: 100%;
        height: 150px;  
    }
     /*CARTE 6 Parc Longchamp*/
     .marseille-activities-flex-child:last-child a:last-child {
        width: 100%;
        height: 150px;    
    }
  

    /* Partie Footer mobile*/
    footer {
        display: block;
        flex-direction: column;
        align-self: center;
        height: 377px;
    }
    footer #bloc_a_propos,
    #bloc_nos_hebergement {
        height: 115px;
    }
    footer #bloc_assistance {
        height: 70px;
    }
    footer #bloc_nos_hebergement {
        margin-top: 15px;
    }
    footer ul li a {
        font-size: 0.8em;
        margin-top: 6px;
    }
    footer h5 {
        margin-bottom: 9px;
    }
}


@media (width: 768px) {
/******Div deux blocs populaires et hebergements marseille*******/
#wrapper-all-lodgings{
flex-direction: column;
}
/******Emplacement bloc hebergement marseille*******/        
#wrapper-area{
    display: flex;
    order:2;
    flex-wrap: wrap;
    width: 100%;
    }        


/******Groupement 3 cartes horizontales les plus populaires*******/

#most-populars-flex{
    flex-direction: row;
}
/******Bloc entier Les plus populaires*******/
#wrapper-most-popular{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding-bottom: 30px;
}
/******Taille 3 cartes*******/
#most-populars-flex a{
    height:127px
}
/******Dimensions image hotel les plus populaires*******/
#most-populars-flex a img:first-child{
    width: 45%;
}
/******Emplacement texte "nuit à partir de" cartes les plus populaires*******/
#most-populars-flex a div:first-of-type span:nth-child(2){
  bottom: 30%;
}
/******Emplacement titre des hotels *******/
#most-populars-flex a div:first-of-type h2:first-child{
 top:-26%
}
}
